.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #f5f7fa;
  overflow: hidden;
}

/* FILTER PANEL */
.filterPanel {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  border: 1px solid #5B88B2;
  border-radius: 8px;
  padding: 20px;
  width: 240px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mainTitle {
  margin: 0 0 10px;
  font-size: 18px;
  color: #4a5568;
  text-align: center;
}

.filterGroup {
  margin-bottom: 15px;
}

.filterGroup label,
.filterTypes label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: black;
}

.filterGroup select {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #f9b90e;
  
    &:hover {
    border-color: #5B88B2;
  }
}

.filterTypes {
  margin-top: 8px;
}


.filterTypes label {
  margin-bottom: 5px;
  font-size: 14px;
}

/* NODE PANEL */
.nodeId {
  display: block;
  font-family: monospace;
  color: #444;
  background-color: transparent;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;

  max-height: 1.2em;            
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  transition: all 0.3s ease;

  &:hover {
    white-space: normal;        
    max-height: 200px;           
    background-color: #f5f5f5;
    word-break: break-word;      
  }
}


/* X GUMB ZA ZATVARANJE */
.closeButton {
  position: absolute;
  top: 6px;
  right: 8px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #5B88B2;

  &:hover {
    color: #f9b90e;
  }
}

/* SHOW FILTERS BUTTON */
.showButton {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px 14px;
  border-radius: 5px;
  border: none;
  background-color: #5B88B2;
  color: black;
  font-weight: bold;
  cursor: pointer;
  z-index: 5;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #f9b90e;
  }
}


/* SHIFT PANEL (POMAK ČVOROVA) */
.shiftPanel {
  position: fixed; /* tako da je neovisan o roditeljskim elementima */
  bottom: 20px;
  right: 20px; /* postavi desno */
  background: white;
  border: 1px solid #5B88B2;
  border-radius: 8px;
  padding: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.rowCenter,
.rowBetween {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.rowBetween {
  justify-content: space-between;
}

.shiftPanel button {
  width: 32px;
  height: 32px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #5B88B2;
  background: #5B88B2;
  cursor: pointer;

  &:hover {
    background: #f9b90e;
    border: 1px solid #f9b90e;
  }
}

/* NODE INFO PANEL */
.nodePanel {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 240px;
  background: white;
  border: 1px solid #5B88B2;
  border-radius: 8px;
  padding: 16px;
  z-index: 999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 
  word-break: break-word;
  overflow-wrap: anywhere;
}

.nodePanel h3 {
  margin-top: 0;
  text-align: center;
  
}

.nodePanel p {
  margin: 4px 0;
  font-size: 14px;
  
}

/* HOVER PANEL */
.hoverPanel {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  font-size: 13px;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* NODEINFO PANEL */
.listItemWithTooltip {
  display: inline-block;
  max-width: 140px; /* ili koliko treba */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}
.listItemWithTooltip:hover {
  white-space: normal;
  word-break: break-all;
  max-width: none;
  background-color: #f0f0f0; /* opcionalno za bolji kontrast */
  padding: 4px; /* opcionalno */
}
